@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-grey-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-grey-600 rounded;
  border-left: 1px solid black;
}

::-moz-selection {
  /* Code for Firefox */
  background: yellow;
}

::selection {
  @apply bg-green-700 text-white;
}
